<div *ngIf="(constructorsF1$ | async) as Constructors; else loading">

    <table mat-table [dataSource]="Constructors" mat-elevation-z8>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nazwa </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="nationality">
            <th mat-header-cell *matHeaderCellDef> Nazwa </th>
            <td mat-cell *matCellDef="let element"> {{element.nationality}} </td>
        </ng-container>
        <ng-container matColumnDef="url">
            <th mat-header-cell *matHeaderCellDef> Wiki </th>
            <td mat-cell *matCellDef="let element"> Info --> <a href="{{element.url}}" target="_blank">{{element.url}}</a> </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<ng-template #loading>
    Loading....
</ng-template>